﻿@{
    var tanks = (List<AdminPortal.Models.MFuelTanks>)ViewBag.tanks;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>FuelType</th>
                        <th>LitresAvailable</th>
                        <th>PricePerLitre</th>
                        <th>FuelCurrency</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in tanks)
                    {
                        <tr>
                            <td title="@item.EFuelTypeNavigation.FuelType">@item.EFuelTypeNavigation.FuelType</td>
                            <td title="@item.LitresAvailable.ToString("0.00")">@item.LitresAvailable.ToString("0.00")</td>
                            <td title="@item.PricePerLitre.ToString("0.00")">@item.PricePerLitre.ToString("0.00")</td>
                            <td title="@item.EFuelCurrencyNavigation.Currency">@item.EFuelCurrencyNavigation.Currency</td>
                            <td>
                                <a href="~/FuelTanks/ViewTank/@item.Id" style="color:blue;">
                                    Open
                                </a>
                                |
                                <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<form action="~/FuelTanks/DeleteTank" method="post" id="f1">
    <input type="hidden" name="id" id="delete_id" />
</form>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Tank?',
            buttons: {
                Yes: function () {
                    ///window.location = "../Papers/DeletePaper/" + id;
                    $("#delete_id").val(id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>