﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //load the tanks via ajax
    var station = (AdminPortal.Models.MFuelStations)ViewBag.station;
}


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="~/FuelTanks/CreateTank/@station.Id" style="color:blue;">
                    &nbsp;&nbsp;&nbsp;&nbsp; Create Tank
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <h3> &nbsp;&nbsp; @station.StationName Tanks</h3>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12" id="data">
                <center id="loader">
                    <img src="~/assets/img/_loading.gif" />
                </center>
            </div>
        </div>
    </div>

<script>
    $.ajax({
        type: "GET",
        url: "@Url.Content("~/FuelTanks/ajaxAllTanks/")@station.Id",
        success: function (data) {
            $("#data").html(data);
        },
        error: function () {
            alert('Server error');
        },
    }).then(function () {
         $("#loader").hide();
    });



</script>