﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //creates a station
    var station = (AdminPortal.Models.MFuelStations)ViewBag.station;
    var fuel_types = (List<AdminPortal.Models.EFuelTypes>)ViewBag.fuel_types;
    var fuel_currencys = (List<AdminPortal.Models.EFuelCurrency>)ViewBag.fuel_currencys;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Create A Tank for @station.StationName</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="~/FuelTanks/CreateTank" method="post">
                <input type="hidden" value="@station.Id" name="FuelStation"/>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control" name="EFuelType">
                                @foreach(var ft in fuel_types)
                                {
                                    <option value="@ft.Id">@ft.FuelType</option>
                                }
                            </select>
                            <small class="form-text text-muted"><span style="color:red;">*</span> FuelType</small>
                        </div>
                    </div> 
                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control" name="EFuelCurrency">
                                @foreach(var fc in fuel_currencys)
                                {
                                    <option value="@fc.Id">@fc.Currency</option>
                                }
                            </select>
                            <small class="form-text text-muted"><span style="color:red;">*</span> EFuelCurrency</small>
                        </div>
                    </div>
                  
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="number" step="any" class="form-control" name="LitresAvailable" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span> LitresAvailable</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="number" step="any" class="form-control" name="PricePerLitre" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span> PricePerLitre</small>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

