﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //creates a station
    var fuel_types = (List<AdminPortal.Models.EFuelTypes>)ViewBag.fuel_types;
    var fuel_currencys = (List<AdminPortal.Models.EFuelCurrency>)ViewBag.fuel_currencys;
    var tank=(AdminPortal.Models.MFuelTanks)ViewBag.tank;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Tank for @tank.FuelStationNavigation.StationName</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="~/FuelTanks/UpdateTank" method="post">
                <input type="hidden" value="@tank.FuelStation" name="FuelStation"/>
                <input type="hidden" value="@tank.Id" name="Id"/>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control" name="EFuelType">
                                @foreach(var ft in fuel_types)
                                {
                                    <option value="@ft.Id" selected="@(tank.EFuelTypeNavigation.Id==ft.Id)">@ft.FuelType</option>
                                }
                            </select>
                            <small class="form-text text-muted"><span style="color:red;">*</span> FuelType</small>
                        </div>
                    </div> 
                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control" name="EFuelCurrency">
                                @foreach(var fc in fuel_currencys)
                                {
                                    <option value="@fc.Id"  selected="@(tank.EFuelCurrencyNavigation.Id==fc.Id)">@fc.Currency</option>
                                }
                            </select>
                            <small class="form-text text-muted"><span style="color:red;">*</span> EFuelCurrency</small>
                        </div>
                    </div>
                  
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="number" step="any" class="form-control" name="LitresAvailable" required value="@tank.LitresAvailable.ToString("0.00")">
                            <small class="form-text text-muted"><span style="color:red;">*</span> LitresAvailable</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="number" step="any" class="form-control" name="PricePerLitre" required  value="@tank.PricePerLitre.ToString("0.00")">
                            <small class="form-text text-muted"><span style="color:red;">*</span> PricePerLitre</small>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

