﻿.black {
    color: black !important;
}

select {
    min-width: 100px !important;
}



#.sidebar::after {
    content: "";
    background: url('../img/fuel_wallPaper.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.login_page {
    display: flex;
    background-image: url('../img/fuel_wallPaper.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 100% !important;
}

    .login_page form {
        box-shadow: 0 0 5px #808080 !important;
        -o-box-shadow: 0 0 5px #808080 !important;
        -moz-box-shadow: 0 0 5px #808080 !important;
        -webkit-box-shadow: 0 0 5px #808080 !important;
        background: rgba(255,255,255,0.9);
        //background: rgba(0,0,0,0.9);
        border-radius: 5px;
        padding: 50px;
        color: red !important;
        font-weight: 400;
        min-width: 400px !important;
    }

    .login_page .black {
        color: black !important;
    }

.login_hcity_icon {
    height: 100px;
    width: auto;
    border-radius: 100px !important;
    box-shadow: 0px 0px 5px black;
    -o-box-shadow: 0px 0px 5px black;
    -moz-box-shadow: 0px 0px 5px black;
    -webkit-box-shadow: 0px 0px 5px black;
}

table td {
    max-width: 200px !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
}

.article_image_small {
    width: 25px;
    height: 25px;
    box-shadow: 0px 0px 5px #808080;
    -o-box-shadow: 0px 0px 5px #808080;
    -moz-box-shadow: 0px 0px 5px #808080;
    -webkit-box-shadow: 0px 0px 5px #808080;
    object-fit: cover;
}

.article_image_big {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 5px #808080;
    -o-box-shadow: 0px 0px 5px #808080;
    -moz-box-shadow: 0px 0px 5px #808080;
    -webkit-box-shadow: 0px 0px 5px #808080;
    object-fit: cover;
}
