﻿@{
    var stations = (List<AdminPortal.Models.MFuelStations>)ViewBag.stations;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>Station</th>
                        <th>Contact Person</th>
                        <th>Mobile</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Province</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in stations)
                    {
                        <tr>
                            <td title="@item.StationName">@item.StationName</td>
                            <td title="@item.ContactPersonName">@item.ContactPersonName</td>
                            <td title="@item.ContactPersonMobile">@item.ContactPersonMobile</td>
                            <td title="@item.Latitude">@item.Latitude</td>
                            <td title="@item.Longitude">@item.Longitude</td>
                            <td title="@item.AddressProvince">@item.AddressProvince</td>
                            <td title="@item.AddressCity">@item.AddressCity</td>
                            <td>
                                <a href="~/FuelStations/ViewStation/@item.Id" style="color:blue;">
                                    Open
                                </a>
                                |
                                <a href="~/FuelTanks/AllTanks/@item.Id" style="color:purple;">
                                    Tanks
                                </a>
                                |
                                <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<form action="~/FuelStations/DeleteStation" method="post" id="f1">
    <input type="hidden" name="id" id="delete_id" />
</form>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Station?',
            buttons: {
                Yes: function () {
                    ///window.location = "../Papers/DeletePaper/" + id;
                    $("#delete_id").val(id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>