﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //load the stations via ajax
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="~/FuelStations/CreateStation/" style="color:blue;">
                &nbsp;&nbsp; Create Station
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12" id="data">
            <center id="loader">
                <img src="~/assets/img/_loading.gif" />
            </center>
        </div>
    </div>
</div>

<script>
    $.ajax({
        type: "GET",
        url: "@(Url.Content("~/FuelStations/ajaxAllStations"))",
        success: function (data) {
            $("#data").html(data);
        },
        error: function () {
            alert('Server error');
        },
    }).then(function () {
         $("#loader").hide();
    });

    
   
</script>