﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //creates a station
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Create A Station</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="~/FuelStations/CreateStation" method="post">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="StationName" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span> StationName</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="ContactPersonName"  required>
                            <small class="form-text text-muted"><span style="color:red;">*</span> ContactPersonName</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="ContactPersonMobile" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span> ContactPersonMobile</small>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="AddressProvince" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span> AddressProvince</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="AddressCity" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span> AddressCity</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="AddressStreet" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span> AddressStreet</small>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Latitude" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span> Latitude</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Longitude" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span> Longitude</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea name="AddressDescription" class="form-control" required placeholder="..."></textarea>
                            <small class="form-text text-muted"><span style="color:red;">*</span> AddressDescription</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

