﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var station=(AdminPortal.Models.MFuelStations)ViewBag.station;
    //updates a station
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Create A Station</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="~/FuelStations/UpdateStation" method="post">
                <input type="hidden" name="Id" value="@station.Id" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="StationName" required value="@station.StationName">
                            <small class="form-text text-muted"><span style="color:red;">*</span> StationName</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="ContactPersonName"  required value="@station.ContactPersonName">
                            <small class="form-text text-muted"><span style="color:red;">*</span> ContactPersonName</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="ContactPersonMobile" required value="@station.ContactPersonMobile">
                            <small class="form-text text-muted"><span style="color:red;">*</span> ContactPersonMobile</small>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="AddressProvince" required value="@station.AddressProvince">
                            <small class="form-text text-muted"><span style="color:red;">*</span> AddressProvince</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="AddressCity" required value="@station.AddressCity">
                            <small class="form-text text-muted"><span style="color:red;">*</span> AddressCity</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="AddressStreet" required value="@station.AddressStreet">
                            <small class="form-text text-muted"><span style="color:red;">*</span> AddressStreet</small>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Latitude" required value="@station.Latitude">
                            <small class="form-text text-muted"><span style="color:red;">*</span> Latitude</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Longitude" required value="@station.Longitude">
                            <small class="form-text text-muted"><span style="color:red;">*</span> Longitude</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea name="AddressDescription" class="form-control" required placeholder="...">@station.AddressDescription</textarea>
                            <small class="form-text text-muted"><span style="color:red;">*</span> AddressDescription</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

