﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //load the currencys via ajax
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="~/FuelCurrencys/CreateCurrency" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="..." name="Currency" required>
                    <small class="form-text text-muted">Currency Name</small>
                </div>
                <div class="form-group">
                    <button class="btn btn-default btn-sm">add currency</button>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12" id="data">
            <center id="loader">
                <img src="~/assets/img/_loading.gif" />
            </center>
        </div>
    </div>
</div>

<script>
    $.ajax({
        type: "GET",
        url: "@(Url.Content("~/FuelCurrencys/ajaxAllCurrencys"))",
        success: function (data) {
            $("#data").html(data);
        },
        error: function () {
            alert('Server error');
        },
    }).then(function () {
         $("#loader").hide();
    });

    
   
</script>