﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@*highcharts*@
<link href="~/libs/highcharts/highcharts.css" rel="stylesheet" />
<script src="~/libs/highcharts/highcharts.js"></script>
<script src="~/libs/highcharts/highcharts-more.js"></script>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="card text-white mb-3">
                <div class="card-header" style="color:black;">Subscriptions Ratios</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form style="width:100%" action="~/Home/Dashboard">
                                <select class="btn btn-sm" name="sub">
                                    <option value="active" selected="@(ViewBag.sub=="active")">Active subs.</option>
                                    <option value="all" selected="@(ViewBag.sub=="all")">All subs.</option>
                                </select>
                                <button type="submit" class="btn btn-primary btn-sm">Change</button>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div id="chart1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card text-white mb-3">
                <div class="card-header" style="color:black;">Subscribers Count</div>
                <div class="card-body">
                    <div id="chart2"></div>
                </div>
            </div>
        </div>
    </div>


</div>



<script type="text/javascript">
    // Radialize the colors
    Highcharts.setOptions({
        colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
            return {
                radialGradient: {
                    cx: 0.5,
                    cy: 0.3,
                    r: 0.7
                },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        })
    });

    // Build the chart
    Highcharts.chart('chart1', {
        credits: {
                enabled: false
            },
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            
        },
        title: {
            text: 'Subscriptions'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: 'Subscription',
            data: [
                @Html.Raw(ViewBag.chart1)
            ]
        }]
    });
</script>


<script type="text/javascript">
    Highcharts.chart('chart2', {
        credits: {
                enabled: false
            },
        chart: {
            type: 'column',
            
        },
        title: {
            text: 'Subscriptions'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Subscribers'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'subs: <b>{point.y:.0f}</b>'
        },
        series: [{
            name: 'Subscribers',
            data: [
                @Html.Raw(ViewBag.chart2)
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
</script>